.progress-bar {
    -webkit-appearance: none;
    appearance: none;
    box-sizing: border-box;
    background-color: white;
    border: 4px solid black;
    /* width: 250px; */
    height: 40px;    
}

.progress-bar::-webkit-progress-bar {
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;    
}

.progress-bar::-webkit-progress-value {
    background-color: var(--color-base-5);
    /* border-radius: 2px; */
    /* background-size: 35px 20px 100% 100%, 100% 100%; */
}

.progress-bar::-moz-progress-bar {
    background-color: var(--color-base-5);
}